.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
}

.card-class {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  padding: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.card-title {
  margin-bottom: 24px;
  color: var(--color-primary);
  font-size: x-large;
  margin-bottom: 2rem;
}

.form-row {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.single-field {
  width: 100%;
}

.multi-field {
  flex: 1 1 0;
  min-width: 120px;
}

.password-button {
  margin-right: 8px;
  border: 0;
  background: transparent;
}

.registration-button {
  background-color: var(--color-primary)!important;
  color: var(--color-light)!important;
}

.registration-button:disabled {
  background-color: rgba(0, 0, 0, 0.12)!important;
  color: var(--color-dark)!important;
}

mat-icon{
  font-size: 20px;
  align-content: center; 
  color: var(--color-darkGray); 
}