.layout-container {
  margin-top: var(--header-height);
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .layout-container {
    flex-direction: column;
    justify-content: flex-start; /* non centro verticalmente */
    align-items: stretch;
    padding: 0.5rem;
    margin-bottom: 0;
  }
}