.footer-container {
  height: var(--footer-height);
  flex: 0 0 var(--footer-height);
  background-color: var(--header-bg);
  text-align: center;
  padding: 0.25rem 0;
}

.footer-text {
  color: var(--color-dark);
  font-size: small;
}

.footer-text.link {
  text-decoration: none;
}

.footer-link:hover {
  color: var(--color-primary);
}