.footer-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--color-light);
  text-align: center;
  padding: 1rem;
  font-size: small;
  color: var(--color-dark);
}

.footer-link {
  color: var(--color-dark);
  text-decoration: none;
}

.footer-link:hover {
  color: var(--color-primary);
}