<mat-toolbar color="primary" class="header-container">
  <a [routerLink]="reactiveLinks.home" class="logo">
    <img [src]="logoUrl" alt="IT Tickets" class="logo-class" />
    <span class="brand-text"> IT Tickets</span>
  </a>

  <span class="spacer"></span>

  <!-- Guest -->
  <nav *ngIf="!(isLoggedIn$ | async)" class="nav-links">
    <a mat-button [routerLink]="reactiveLinks.register" class="link-class">Registrati</a>
    <a mat-button [routerLink]="reactiveLinks.login" class="link-class">Accedi</a>
  </nav>

  <!-- Authenticated User -->
  <ng-container *ngIf="isLoggedIn$ | async">
    <app-unread-notifications></app-unread-notifications>
    <ng-container *ngIf="avatar$ | async as av">
      <button mat-button [matMenuTriggerFor]="userMenu" class="avatar-button"
              [attr.aria-label]="av.hasInitials ? (av.name || av.email || 'Utente') : 'avatar'">
        <div class="avatar"
            [ngStyle]="av.hasInitials
              ? { 'background-image': av.bgGradient }
              : { 'background-image': 'url(' + backupIcon + ')' }"
            tabindex="0">
          <span *ngIf="av.hasInitials" aria-hidden="true">{{ av.initials }}</span>
          <img *ngIf="!av.hasInitials" [src]="backupIcon" alt="" />
        </div>
      </button>
    </ng-container>

    <mat-menu #userMenu="matMenu" class="user-menu-custom">
      <button mat-menu-item [routerLink]="reactiveLinks.profile">
        <mat-icon >person</mat-icon>
        <span class="menu-link">Profilo</span>
      </button>
      <button mat-menu-item [routerLink]="reactiveLinks.yourTickets">
        <mat-icon>confirmation_number</mat-icon>
        <span class="menu-link">I tuoi ticket</span>
      </button>
      <button *ngIf="isOperator$ | async" mat-menu-item [routerLink]="reactiveLinks.allTickets">
        <mat-icon>assignment</mat-icon>
        <span class="menu-link">Gestione ticket</span>
      </button>
      <button *ngIf="isAdmin$ | async" mat-menu-item [routerLink]="reactiveLinks.userList">
        <mat-icon>supervisor_account</mat-icon>
        <span class="menu-link">Gestione utenti</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span class="menu-link">Disconnettiti</span>
      </button>
    </mat-menu>
  </ng-container>

  <!-- Go Back Button -->
  <ng-container *ngIf="canGoBack$ | async">
    <div class="back_container">
      <button mat-button class="back-button" (click)="goBack()" title="Indietro">
        <mat-icon class="back_icon" aria-hidden="true">arrow_back</mat-icon>
      </button>
    </div>
  </ng-container>
</mat-toolbar>