<header class="header-container">
  <a routerLink="/" class="logo">
    <img [src]="logoUrl" alt="IT Tickets" class="logo-class" />
    <span class="logo-class"> IT Tickets</span>
  </a>
  <div *ngIf="!(isLoggedIn$ | async)">
    <nav>
      <a routerLink="/register" class="link-class">Registrati</a>
      <a routerLink="/login" class="link-class">Login</a>
    </nav>
  </div>
  <div *ngIf="isLoggedIn$ | async">
    <nav>
      <a routerLink="/profile" class="link-class">Profilo</a>
      <a (click)="logout()" class="link-class">Logout</a>
    </nav>
  </div>
</header>
