<button mat-icon-button
        #menuTrigger="matMenuTrigger"
        [matMenuTriggerFor]="menu"
        [matBadge]="(userNotif.unread$ | async)?.length"
        matBadgeColor="warn"
        matBadgeSize="small"
        [matBadgeHidden]="(userNotif.unread$ | async)?.length === 0"
        aria-label="Notifiche non lette"
        class="badge-notification">
  <mat-icon>notifications</mat-icon>
</button>

<mat-menu #menu="matMenu" class="notif-menu">
  <div class="menu-title">Notifiche non lette</div>
  <mat-divider></mat-divider>

  <ng-container *ngIf="(userNotif.unread$ | async) as unreadList">
    <div *ngIf="unreadList.length === 0" class="empty">
      Nessuna notifica non letta!
    </div>

    <mat-nav-list *ngIf="unreadList.length > 0" class="list">
      <div *ngFor="let n of unreadList; trackBy: trackById">
        <mat-list-item class="notif-item">
          <div class="left">
            <div class="message">{{ n.message }}</div>
            <div class="time">{{ n.createdAt | date:'short' }}</div>
          </div>

          <div class="right">
            <button mat-button
                    class="markAsRead"
                    (click)="onMarkAsRead(n.id, menuTrigger); $event.stopPropagation()">
              Segna come letto
            </button>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
      </div>
    </mat-nav-list>
  </ng-container>

  <mat-divider></mat-divider>
  <div class="menu-footer">
    <a class="all-notif-link" [routerLink]="reactiveLinks.notifications">Visualizza tutte le notifiche</a>
  </div>
</mat-menu>
