<section class="notifications-simple">
  <div class="header">
    <h3>Notifiche</h3>
    <mat-form-field appearance="outline" class="search-field">
      <mat-label>Ricerca</mat-label>
      <input matInput (input)="search$.next($any($event.target).value)" placeholder="Cerca...">
      <button mat-icon-button matSuffix (click)="search$.next('')" aria-label="clear">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <mat-tab-group>
    <mat-tab label="Tutte">
      <ng-container *ngIf="filteredAll$ | async as list">
        <div *ngIf="list.length === 0" class="empty">Nessuna notifica</div>

        <mat-nav-list *ngIf="list.length > 0">
          <mat-list-item *ngFor="let n of list; trackBy: trackById" (click)="toggleExpand(n.id)">
            <div class="item-left">
              <div class="msg">{{ n.message }}</div>
              <div class="meta">{{ n.createdAt | date:'short' }}</div>
            </div>

            <div class="item-actions">
              <button mat-button *ngIf="!n.read" (click)="onMarkAsRead(n.id, $event)">Segna come letto</button>
              <a *ngIf="n.destination" [routerLink]="n.destination" class="link-more">Apri</a>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-nav-list>
      </ng-container>
    </mat-tab>

    <mat-tab label="Non lette">
      <ng-container *ngIf="filteredUnread$ | async as unread">
        <div *ngIf="unread.length === 0" class="empty">Nessuna notifica non letta</div>

        <mat-nav-list *ngIf="unread.length > 0">
          <mat-list-item *ngFor="let n of unread; trackBy: trackById">
            <div class="item-left">
              <div class="msg">{{ n.message }}</div>
              <div class="meta">{{ n.createdAt | date:'short' }}</div>
            </div>
            <div class="item-actions">
              <button mat-button (click)="onMarkAsRead(n.id, $event)">Segna come letto</button>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-nav-list>
      </ng-container>
    </mat-tab>

    <mat-tab label="Lette">
      <ng-container *ngIf="filteredRead$ | async as read">
        <div *ngIf="read.length === 0" class="empty">Nessuna notifica letta</div>

        <mat-nav-list *ngIf="read.length > 0">
          <mat-list-item *ngFor="let n of read; trackBy: trackById">
            <div class="item-left">
              <div class="msg">{{ n.message }}</div>
              <div class="meta">{{ n.createdAt | date:'short' }}</div>
            </div>
            <div class="item-actions">
              <a *ngIf="n.destination" [routerLink]="n.destination" class="link-more">Apri</a>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-nav-list>
      </ng-container>
    </mat-tab>
  </mat-tab-group>
</section>
