.card-class {
  max-width:600px; margin:32px auto; padding:16px;
}

.card-title {
  margin-bottom: 24px;
  color: var(--color-primary);
}

.form-row {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.single-field {
  width: 100%;
}

.multi-field {
  flex: 1 1 0;
  min-width: 120px;
}

.password-button {
  margin-right: 8px;
  border: 0;
  background: transparent;
}

.registration-button {
  background-color: var(--color-primary)!important;
  color: var(--color-light)!important;
}

.registration-button:disabled {
  background-color: grey!important;
  color: var(--color-dark)!important;
}

::ng-deep mat-spinner circle {
  position: fixed;
  stroke: var(--color-light);
}

#overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background-color: rgba(0,0,0,0.5);
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;
}